header {
  --logomark-height: 1.7em;
  --logomark-padding: 0 0.5em;

  display: grid;
  min-height: 100vh;
  place-items: center;
  padding: 7vh 2rem;
  background-color: white;
  color: var(--color-primary);
  text-align: center;

  h1 {
    @include logomark;
  }

  h2 {
    max-width: 30ch;
  }
}
