.features {
    position: relative;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(25ch, 1fr));

    /*! 
      * SVGs from Hero Patterns
      * @link http://www.heropatterns.com/
      */
    li {
        display: grid;
        position: relative;
        place-content: center;
        min-height: 9rem;
        padding: 1rem;
        color: var(--color-light);
        text-align: center;

        > span {
            display: grid;
            place-content: center;
            padding: 0.5em;
            grid-gap: 0.5rem;
            border: 1px solid var(--color-light);
            background-color: var(--color-secondary);
            line-height: 1.1;

            a {
                color: inherit;
                font-size: 1.1rem;
                font-weight: var(--font-weight-strong);
                text-decoration: none;

            }

            span:nth-child(2) {
                position: relative;
            }
        }
    }
}

#styles {
    margin: 5vh 0 20vh;
    text-align: center;

    h2 {
        color: var(--color-primary);
    }
}

#styles .features,
.features.patterned {
    li {
        background-color: var(--color-secondary);
        
        @media (min-width: 515px) and (max-width: 765px) {
            &:nth-last-child(1):nth-child(odd) {
                grid-column: span 2;
            }
        }
      
        &:hover {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='72' viewBox='0 0 36 72'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23fff' fill-opacity='0.4'%3E%3Cpath d='M2 6h12L8 18 2 6zm18 36h12l-6 12-6-12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");    
        }
    }

}
